<html lang="pt-br" class='bgradial01' id="html">
<head>
<meta charset="UTF-8">
<link type="image/x-icon" href="/img/favicon.ico" rel="shortcut icon" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link	type="text/css" media="all"		rel="stylesheet" 						href="./App/Templates/css/websheep/Myriad_Pro.css" />
<link	type="text/css" media="all"		rel="stylesheet" 						href="./App/Templates/fontes/fontes.php" />
<link	type="text/css" media="all"		rel="stylesheet" 						href="./App/Templates/css/websheep/reset.css" />
<link	type="text/css" media="all"		rel="stylesheet" 						href="./App/Templates/css/websheep/estrutura.css" />
<link	type="text/css" media="all"		rel="stylesheet"						href="./App/Templates/css/websheep/funcionalidades.css" />
<link	type="text/css" media="all"		rel="stylesheet"						href="./App/Templates/css/websheep/global.css" />
<link	type="text/css" media="all"		rel="stylesheet" 						href="./App/Templates/css/websheep/desktop.css" />
<link	type="text/css" media="all"		rel="stylesheet"						href="./App/Templates/css/websheep/install.css" />
<script type = 'text/javascript' 		id="jquery202"							src='./App/Vendor/jquery/2.2.0/jquery.min.js'></script>
<body id="body">
	<div id='avisoTopo'></div>
	<div id="container">
	<div id="header" class="bg01 ">
	        <div id="logomarca">
	        <div id="beta">°Beta</div>
	        <spam id="h1">Web</spam><spam id="h2">Sheep</spam>
	        <div id="SubTit">Content Management Systems</div>
	        </div>
	</div>
	<div id="conteudo">
		<div id="palco" class="palco_01 w1" >
				<div class="bg08 avisophp"><strong>Ops! Houve um problema.</strong><br><br>Identificamos que o seu domínio não é validado ou o nosso servidor não está respondendo a slicitação.<br>Pedimos que você tente acessar novamente em 3 minutos, caso a falha persista, entre em contato com o nosso suporte ou com o seu host.</div>
				<p class="step botao vamosla" id="vamosla">Tentar novamente</p>
			</div>   
		</div>   
	</div>   
</div>
<div id="footer" class="bg02">
<div id="copyright" class="w5">® WebSheep Tecnologia Integrada Ltda - © Copyrigth 2011 - Todos os direitos reservados
</div>
</div>
<script type="text/javascript">

$(document).ready(function(){ $("#vamosla").click(function(){location.reload();}) })
</script>
</body>