<!-- BEGIN ITEM_LIST -->

	<script>
		window.id_item_selected		='';
		include_css ("/admin/App/Templates/css/websheep/modulos/_modulo_/itens.css","css_mod","All");
		include_css ("/admin/App/Templates/css/websheep/modulos/_modulo_/newItens.min.css","css_mod","All");
	</script>
	<div id="topoModulo" class="TitTop bg05 w1b">{TITULO_TOOL}</div>
		<div id="topo_upload" class="bg01" >
			<form name="formUpload" id="formUpload">
			<!-- BEGIN BT_BACK -->
				<div id="bt_voltar_cat" class="botao">{modulo_itens_buttons_back}</div>
				<script>
					$("#bt_voltar_cat").unbind("click").click(function(){
							confirma({width:"auto",conteudo:"  {modulo_itens_modal_back_content}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 53px;background-image:url(\"/admin/App/Templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",drag:false,bot1:0,bot2:0});
							$("#conteudo").load("{LINK_BACK}",function(){
								$("#ws_confirm").remove();
								$("#body").removeClass("scrollhidden");
								$("*").removeClass("blur");
							});
					});
				</script>
				<!-- END BT_BACK -->

				<!-- BEGIN BT_CAT -->
						<div id="bt_categorias" class="botao" style="position:absolute;padding:10px;top:5px;width:40%;text-align:center;">{modulo_itens_buttons_category}</div>
				<!-- END BT_CAT -->

			<div id="bt_Add_Galeria" class="botao">{modulo_itens_buttons_addItem}</div>
		</form>
		</div>
		<div id="palco" class="palco_01"  style="padding-bottom: 30px;">


		<table class="data-tbl-simple table table-bordered w1">
			<thead class="cabecalhoTable">
				<tr>
					<!-- BEGIN THEAD -->
					<th  class="{CLASS}">{NAMECOLUM}</th>
					<!-- END THEAD -->
					<th class="nosort bg01 ">{modulo_itens_table_colunm_functions}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN TR_ITEM -->
					<tr class="item"  id="{ID_ITEM}">
						<!-- BEGIN TD_ITEM -->
						<td id="{ID_ITEM}" valign="middle" data-name="{DATA_NAME}" style="{STYLE}">{LABEL_ITEM}</td>
						<!-- END TD_ITEM -->
						<td id='{ID_ITEM}'>
							<div class='combo'>
							<img id='{ID_ITEM}' legenda='{modulo_itens_table_icons_delete}' style='cursor:pointer;' class='excluir' src='/admin/App/Templates/img/websheep/cross-button.png'/>
							<img id='{ID_ITEM}' legenda='{modulo_itens_table_icons_edit}'  style='cursor:pointer;' class='editar' 	src='/admin/App/Templates/img/websheep/layer--pencil.png'/>
							</div>
						</td>
					</tr>
				<!-- END TR_ITEM -->
			</tbody>
		</table>
	</div>
	<div class="c"></div>
	</div>
	<script type="text/javascript">
		function reloadFunctions(){
			$('*[legenda]').LegendaOver();
			$('#palco td .excluir').LegendaOver();
			$("#Balao_ToolType").remove();
			//==================================================================================================== EDITAR INFORMAÇÕES DA IMAGEM
			$('#bt_categorias').unbind("tap click press").bind('click tap press',function(){
						confirma({width:"auto",conteudo:"  {modulo_itens_modal_loading_content}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 53px;background-image:url(\"/admin/App/Templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",drag:false,bot1:0,bot2:0});
					var link_back = './{PATH}/categorias.php?ws_nivel=0&id_cat=0&ws_id_ferramenta={ID_FERRAMENTA}&token_group={TOKEN_GROUP}';
					$("#conteudo").load(link_back,function(){
						$("#ws_confirm").remove();
						$("#body").removeClass("scrollhidden");
						$("*").removeClass("blur");
					});	
			})


			 window.DesativaTabela = function (){
				$(".tbl_length").chosen('destroy');
				$('.data-tbl-simple').dataTable().fnDestroy();
				$("div.table_top select").removeClass('tbl_length').removeClass('selectNumResult');
				$(".dataTables_filter").removeClass('w1');
				$(".dataTables_filter input").removeClass('inputText');
			}
			 window.AtivaTabela = function (){
			$('.data-tbl-simple').dataTable({
					"sDom": '<"table_top clearfix"fl<"clear">>,<"table_content"t>,<"table_bottom w1"p<"clear">>',
					"iDisplayLength": 10,
					"bAutoWidth": false,
					"sPaginationType": "full_numbers",
					'autoWidth': false,
					'aoColumnDefs': [{'aTargets': ['nosort']}],
					"oLanguage": {"sLengthMenu": "<span class='lenghtMenu'> _MENU_</span><span class='lengthLabel w1'>{modulo_itens_table_paginate_amount}</span>"},
				})
				$("div.table_top select").addClass('tbl_length').addClass('selectNumResult').attr('id','selectNumResult');
				$(".tbl_length").chosen({disable_search_threshold: 4});
				$(".dataTables_filter input").addClass('inputText').addClass('w1').attr("placeHolder","Pesquisar:");
			}
			$('#palco td .editar').unbind('click').bind("click",function(){
				var id_item = $(this).attr('id');
					confirma({width:"auto",conteudo:"  {modulo_itens_modal_loading_content}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 53px;background-image:url(\"/admin/App/Templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",drag:false,bot1:0,bot2:0});
					$("#conteudo").load("./{PATH}/detalhes.php?token_group={TOKEN_GROUP}&ws_id_ferramenta={ID_FERRAMENTA}&id_cat={ID_CAT}&ws_nivel={WS_NIVEL}&id_item="+id_item,function(){
					$("#ws_confirm").remove();
					$("#body").removeClass("scrollhidden");
					$("*").removeClass("blur");
				});
			})
			$("#bt_Add_Galeria").unbind('click').bind("click",function(){
					$.ajax({
					  type: "POST",
					  url: "./{PATH}/functions.php",
					  beforeSend:function(){confirma({width:"auto",conteudo:"  {modulo_itens_modal_addItem_content}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 68px;background-image:url(\"/admin/App/Templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",drag:false,bot1:0,bot2:0})},
					  data: {"function":"addItem","id_cat":"{ID_CAT}","ws_nivel":"{WS_NIVEL}" ,"ws_id_ferramenta":"{ID_FERRAMENTA}"}
					}).done(function(data) {
						var json = jQuery.parseJSON(data);
						if(json.resposta=="sucesso"){
							confirma({width:"auto",conteudo:"  {modulo_itens_modal_loading_content}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 53px;background-image:url(\"/admin/App/Templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",drag:false,bot1:0,bot2:0});
								$("#conteudo").load("./{PATH}/detalhes.php?token_group={TOKEN_GROUP}&ws_id_ferramenta={ID_FERRAMENTA}&id_cat={ID_CAT}&ws_nivel={WS_NIVEL}&id_item="+json.id,function(){
								$("#ws_confirm").remove();
								$("#body").removeClass("scrollhidden");
								$("*").removeClass("blur");
							});
						}
					});
			})

			$("#ws_confirm #ws_confirm_conteudo #form-img").ajaxForm({
				beforeSend: function(xhr) {},
				uploadProgress: function(event, position, total, percentComplete, myForm){$('#preloader #bar').css({width:percentComplete+"%"})},
				success: function(e) {
					var img 	= '/ws-img/40/40/60/'+e;
					var img_G 	= '/ws-img/322/322/100/'+e;
					$('#exibicao_G').attr("src",img_G);
					$("#thumb_"+window.id_item_selected).attr("src",img);
					$('#recusar').show();
				},
				complete: function(e){
					$('#preloader #bar').css({width:"0"});
					$('#recusar').show();
				}
			});
			$("#form_dados #refreshimg").unbind('click').click(function(event){
				event.preventDefault();
				$(this).parent().parent().parent().find('#form-img #myfile').unbind('click').click();
			})
			$("#form_dados #EnterGalery").unbind('click').click(function(event){
				event.preventDefault();
				var iDimg 	= $(this).parent().attr('id-img');
				$('#recusar').click();
			})
			$('#form-img').change(function(success){
				$("#form-img #bot_upload_form").click();
				$('#recusar').hide();
			})

			$("#palco td .excluir").unbind('click').click(function(){
				var iDgaleria 	= $(this).attr('id');
				confirma({
					conteudo:"{modulo_itens_modal_delete_content}",
					width:500,
					height:'auto',
					bot1:"{modulo_itens_modal_delete_bot1}",
					bot2:"{modulo_itens_modal_delete_bot2}",
					divScroll:"body",
					divBlur:"body #container",
					newFun:function(){
						$("#ws_confirm").css("line-height","20px");
						$("#ws_confirm").remove();
						$("#body").removeClass("scrollhidden");
						$("*").removeClass("blur");
						setTimeout(function(){
							$.ajax({
							  type: "POST",
							  data: {function:"excl_produto",id_item_direct:true,id_item:iDgaleria},
							  url: "./{PATH}/functions.php",
							  beforeSend:function(){confirma({width:"auto",conteudo:"  {modulo_itens_modal_delete_beforeContent}<div class=\'preloaderupdate\' style=\'left: 50%;margin-left: -15px; position: absolute;width: 30px;height: 18px;top: 68px;background-image:url(\"/admin/App/Templates/img/websheep/loader_thumb.gif\");background-repeat:no-repeat;background-position: top center;\'></div>",drag:false,bot1:0,bot2:0})}
							}).done(function(e) {
								$("#ws_confirm").css("line-height","20px");
								$("#ws_confirm").remove();
								$("#body").removeClass("scrollhidden");
								$("*").removeClass("blur");
								if(e.indexOf('sucesso')>=0){
									$('.data-tbl-simple tr#'+iDgaleria).fadeOut(400, function(){
										$(this).remove();
										window.DesativaTabela();
										window.AtivaTabela();
									}); 
									TopAlert({
										mensagem:'{modulo_itens_topAlert_sucessDelete}',
										height:20,
										timer:5000,
										type:3
									})
								}else{
									TopAlert({
										mensagem:'Error:'+e,
										height:200,
										timer:5000,
										type:2
									})
								}
							})
						},500);
					}
				})
			})
		//	OrdenaItem();
		//====================================================================================================
		}
		reloadFunctions();
		window.AtivaTabela();
		$('.data-tbl-simple tr td').unbind('click tap press').bind( 'click tap press', function (evt) {});

			setTimeout(function(){
				$('#container').perfectScrollbar()
				$('#container').perfectScrollbar('update')
				$('#container').animate({scrollTop: 0}, 200);
			},200);
	</script>

<!-- END ITEM_LIST -->
