@charset "utf-8";
#ws_confirm #body #ws_confirm_conteudo #form_dados input {
  position: relative;
  padding: 14px;
  width: 450px;
}
#ws_confirm #body #ws_confirm_conteudo #form_dados textarea {
  width: 443px;
  padding: 10px;
  height: 200px;
  margin-top: 8px;
  resize: none;
}
#ws_confirm #body #ws_confirm_conteudo #form_dados .cleditorMain {
  float: left;
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 443px!important;
  height: 265px!important;
}
#topocadastro {
  font-weight: 600;
  font-size: 16px;
  height: 32px;
  padding-top: 11px;
  padding-left: 12px;
  color: #36568d;
  text-shadow: 1px 1px 1px white;
}
#botaoVoltaDomain {
  color: white;
  top: -6px;
  position: relative;
  float: right;
  right: 50%;
  height: 15px;
  padding: 8px 38px;
  margin-right: -494px;
}
#botaoCadastraDomain {
  color: white;
  top: -12px;
  position: relative;
  float: right;
  width: 61px;
  height: 15px;
  padding: 8px 18px;
  margin-right: 6px;
}
#cdastrodominio #cadastretit {
  top: 13px;
  position: relative;
  width: 350px;
}
::-webkit-input-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-moz-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
::-moz-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-ms-input-placeholder {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
:-input[data-operaplaceholder] {
  font-family: "Myriad Pro Light";
  color: #538bbe;
  font-style: oblique;
}
#palco {
  position: relative;
  width: 1000px;
  float: left;
  left: 50%;
  margin-left: -500px;
  top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 64px;
  margin-top: 10px;
}
#palco ul li {
  position: relative;
  float: left;
  margin: 0px;
  margin-left: 10px;
  width: 977px;
  height: 40px!important;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 41%;
}
#palco ul li .titulo {
  border-bottom: dotted 1px;
  min-height: 20px;
}
#palco ul li.folder {
  background-image: url("./../../../img/page_process.png");
  background-repeat: no-repeat;
  background-position: 10px 14px;
  background-color: white !important;
  border-bottom: dotted 1px #517394;
  cursor: pointer;
  height: auto!important;
  padding-left: 40px;
  padding-top: 12px;
  width: calc(100% - 60px);
  min-height: 27px;
}
#palco ul li.folder .titulo_folder {
  top: 6px;
  position: relative;
}
#palco ul li.folder #combo_folder {
  position: absolute;
  float: right;
  right: 0px;
  width: 180px;
  top: 0px;
  margin: 0px;
}
#palco ul li.folder #combo_folder #detalhes_img {
  position: absolute;
  width: 216px;
  padding: 5px 0px;
  text-align: center;
  height: 15px;
  top: 16px;
  right: 7px;
}
#palco ul li.folder #combo_folder #detalhes_img span {
  cursor: pointer;
}
#palco ul li.folder .openfolder {
  position: absolute;
  height: 48px;
  width: 860px;
  background-color: transparent;
  top: 0;
  left: 0;
}
#palco ul li.folder .body {
  overflow: hidden;
  position: relative;
  height: 0px;
  min-height: 0px;
  margin: 10px 0;
  margin-top: 10px;
  left: -31px;
  top: 10px;
  width: 964px;
}
#palco ul li.folder .body .subtool {
  position: relative;
  height: 30px;
  border-bottom: dotted 1px;
  padding-bottom: 6px;
  background-color: #f3f4f7;
}
#palco ul li.sub_tool {
  background-image: url("./../../../img/wrench.png");
  background-repeat: no-repeat;
  background-position: 12px 11px;
  padding-left: 10px;
  max-width: 960px;
  border-left: solid 8px #1980ad;
}
#palco ul li.sub_tool .access {
  position: absolute;
  float: left;
  left: 744px;
  top: 7px;
  padding: 5px 20px;
}
#palco ul li.sub_tool .titulo {
  padding-left: 25px;
}
#palco ul li.active-result {
  height: auto!important;
}
#palco ul li:nth-child(odd) {
  background-color: rgba(128, 156, 184, 0.12);
}
#palco ul li .titulo {
  position: relative;
  padding: 10px;
}
#palco ul li span {
  position: relative;
  top: -8px;
}
#palco ul li span.desc_item {
  position: absolute;
  left: 15px;
  top: 12px;
  width: 860px;
}
#palco ul li span.titulo_item {
  position: absolute;
  margin-left: 5px;
  top: 3px;
  font-weight: 600;
  font-size: 25px;
}
#palco ul li span img {
  cursor: pointer;
  margin: 5px;
}
#palco ul li span img.mover_item {
  cursor: move!important;
  margin: 5px;
}
#palco ul li #combo {
  position: absolute;
  float: right;
  right: 0px;
  width: 160px;
  top: 0px;
  margin: 0px;
}
#palco ul li #combo #detalhes_img {
  position: absolute;
  width: 186px;
  padding: 5px 0px;
  text-align: center;
  height: 26px;
  top: 3px;
  right: 27px;
}
#palco ul li #combo #detalhes_img span {
  cursor: pointer;
}
#topo_upload {
  padding: 10px;
  margin-top: -2px;
}
#topo_upload #bt_Add_Grupo {
  position: relative;
  float: right;
  padding: 10px 120px;
  right: 50%;
  transform: translateX(50%);
}
#topo_upload #progress_combo {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  padding: 10px;
  width: 698px;
  height: 17px;
}
#topo_upload #bt_Add_Galeria {
  position: relative;
  width: 179px;
  padding: 10px 20px;
  left: 50%;
  margin-left: 260px;
}
.itens_ferramenta {
  padding: 10px;
  margin: 5px;
  float: left;
}
#palco .checkbox {
  width: 40px;
  height: 40px;
}
